//globals
@import "../globals";

.head {
    text-transform: uppercase;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;
    position: relative;
  
    & h5 {
  
      font-size:3rem;
      border-bottom: 4px solid $primaryColor;
      width: max-content;
      font-weight: 600;
      & span {
        margin-left: 4rem;
        font-size: 1.5rem;
        text-transform: capitalize;
        font-weight: 300;
        color: $primaryColor;
        position: absolute;
        right: 0;
        cursor: pointer;
        top: 0.5rem;
      }
    }
  
    & div {
      flex-grow: 1;
      height: 2px;
      background-color: $darkGrey;
      margin-bottom: 17px;
    }
  
    & h6 {
      font-size: 1.5rem;
      font-weight: 700;
      & span {
        margin-left: 4rem;
        font-size: 2rem;
        text-transform: capitalize;
        font-weight: 300;
        color: $primaryColor;
        position: absolute;
        right: 0;
        cursor: pointer;
        top: 0rem;
      }
    }
  }
  
.wrapper{
    margin-top: 5rem;
}

.cart{
    &Body{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 3rem;
    }
    &Left{
        flex: 0.6;
        & img{
            width: 15rem;
        }
    }
    &Right{
        flex: 0.3;
    }
}

.cartProductName{
    &>p{
        margin-top: 1rem;
        &>span{
            margin-top: 1rem;
            text-decoration: underline;
            font-weight: 600;
        }
        &>ul span{
            font-weight: 500;
            margin-left: 1rem;
        }
    }
}

.cartTotal{
   &>li{
       display: flex;
       align-items: center;
       justify-content: space-between;
       font-size: 2rem;
       padding-bottom: 1rem;
       border-bottom: 2px solid $lightGrey;
       margin-bottom: 1.5rem;
       &>span:first-child{
           font-weight: 700;
       }
   }
}

.cartFinal{
    font-size: 3rem;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
}

.checkout{
    margin: 1rem 0;
    background-color: $primaryColor;
    font-weight: 700;
    color: $white;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
}