//globals
@import "../globals";

.topBar {
  background-color: $primaryColor;
  width: 100%;
  height: 4rem;
  @include totalCenter();
  font-size: 1.7rem;
  & > ul {
    & > li:first-child {
      font-weight: 700;
    }
    @include horizontalCenterSpaceBetween();
  }

  &Links {
    @include horizontalCenterSpaceBetween();
    & > li {
      margin-left: 5rem;
      cursor: pointer;
      & > span {
        margin-left: 1rem;
      }
    }
  }
}

.middleBar {
  padding: 1rem 0;
  & > div:first-child {
    @include horizontalCenterSpaceBetween();
  }

  &Logo {
    width: 25rem;
  }

  &Links {
    & > ul {
      @include horizontalCenterSpaceBetween();
      & > li {
        margin-left: 3rem;
        cursor: pointer;
        font-size: 2rem;
        & span {
          margin-left: 1rem;
        }
      }
    }
  }
}

.search {
  display: flex;
  & input {
    width: 70rem;
    height: 4rem;
    outline: none;
    border: none;
    background-color: $lightBackground;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    padding: 0rem 3rem;
    font-size: 1.5rem;
  }

  & button {
    width: 9rem;
    height: 4rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    outline: none;
    border: none;
    background-color: $secondaryColor;
    color: $white;
    font-size: 1.7rem;
    cursor: pointer;
  }
}

.categoryBar {
  background-color: $primaryColor;
  width: 100%;
  height: 5rem;
  @include totalCenter();

  & ul {
    @include horizontalCenterSpaceBetween();
    & > li {
      font-size: 2rem;
      font-weight: 600;

      text-transform: capitalize;

      & > span {
        cursor: pointer;
      }
    }
  }

  &Links {
    & > li {
      position: relative;
      padding: 2rem;
      &:hover {
        & > ul {
          display: block;
        }
      }
      & > ul {
        z-index: 10000;
        margin-top: 1rem;
        @include columnCenter();
        position: absolute;
        padding: 3rem;
        background-color: $white;
        box-shadow: 0 0 5px rgb(177, 177, 177);
        border-radius: 5px;
        display: none;
        width: max-content;
        & > li {
          &:not(:last-child) {
            margin-bottom: 2rem;
          }
          cursor: pointer;
          font-size: 1.5rem;
          font-weight: 400;
          transition: all 0.25s;
          border-bottom: 1px solid transparent;
          width: fit-content;
          &:hover {
            border-bottom: 1px solid;
          }
        }
      }
    }
  }
}
.mobile {
  display: none;
}

@media only screen and (max-width: 650px) {
  .mobilePadding{
    width: 100%;
    height: 16rem;
  }
  .desktop {
    display: none;
  }

  .mobile {
    position: fixed;
    z-index: 9999;
    display: block;
    width: 100vw;
    background-color: $primaryColor;
    padding: 1.5rem 2rem;
    height: 16rem;
    & > div:first-child {
      @include totalCenter();
      justify-content: space-between;
      color: $white;
      font-size: 4rem;

      & > div:nth-child(2) {
        text-align: center;
        flex-grow: 1;
        margin: 0 2rem;
      }

      & > div:last-child {
        & > * {
          margin-left: 2rem;
        }
      }
    }
    &Logo {
      width: 20rem;
      transform: translateX(4rem);
    }

    & form {
      width: 100%;
      margin: 0 auto;
      position: relative;
      & > input {
        width: 100%;
        outline: none;
        border: none;
        padding: 1rem;
        border-radius: 5px;
        font-size: 3rem;
      }

      & > button {
        position: absolute;
        right: 1rem;
        top: 1rem;
        background: none;
        border: none;
        outline: none;
      }
    }
  }
}

.sidebar {
  animation: sideBar 0.3s ease-in;
  width: 100vw;
  min-height: 100vh;
  background-color: $primaryColor;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  padding-top: 2rem;
  & > div:first-child {
    @include totalCenter();

    & > button {
      font-size: 6rem;
      position: absolute;
      left: 2rem;
      color: $white;
      background: none;
      outline: none;
      border: none;
      @include totalCenter();

      & > span {
        font-size: 3rem;
        margin-left: 1rem;
      }
    }
  }
  &Logo {
    width: 40rem;
  }

  &Links {

    display: flex;
    @include totalCenter();
    margin: 4rem 0;
    font-size: 3rem;
    & > *:not(:first-child) {
      margin-left: 3rem;
    }
    & > * {
      & > button {
        background: none;
        border: none;
        outline: none;
        color: $white;
      }
      & > button > span {
        margin-left: 1rem;
      }
    }
  }

  &Category{
    @include columnCenter();
    height: 75vh;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &>li{
      width: 90%;
      padding-bottom: 4rem;
      text-align: center;
      border-bottom: 1px solid;
      margin: 5rem 0;
      & button{
        font-weight: 600;
        background: none;
        outline: none;
        border: none;
        color: $white;
        font-size: 5rem;
        text-transform: uppercase;
      }
      &>ul{
        color: #000;
        font-size: 4rem;
        width: 90vw;
        // background-color: $white;
        text-align: center;
        padding: 2rem 0;
        &>li{
          margin: 6rem 0;
        }
      }
    }
  }
}

@keyframes sideBar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
