//globals

@import "../../globals";


.productPage {
  margin-top: 2rem !important;
  @include totalCenter();
  align-items: flex-start;

}

.filters {
  flex-grow: 0.5;
  padding-right: 3rem;
}

.products {
  flex-grow: 9;
}

.head {
  text-transform: uppercase;
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  position: relative;

  & h5 {

    font-size: 2rem;
    border-bottom: 4px solid $primaryColor;
    width: max-content;
    font-weight: 600;
    & span {
      margin-left: 4rem;
      font-size: 1.5rem;
      text-transform: capitalize;
      font-weight: 300;
      color: $primaryColor;
      position: absolute;
      right: 0;
      cursor: pointer;
      top: 0.5rem;
    }
  }

  & div {
    flex-grow: 1;
    height: 1px;
    background-color: $darkGrey;
    margin-bottom: 10px;
  }

  & h6 {
    font-size: 1.5rem;
    font-weight: 700;
    & span {
      margin-left: 4rem;
      font-size: 2rem;
      text-transform: capitalize;
      font-weight: 300;
      color: $primaryColor;
      position: absolute;
      right: 0;
      cursor: pointer;
      top: 0rem;
    }
  }
}

.priceBody {
  @include horizontalCenterSpaceBetween();
  max-width: 24rem;

  &>input {
    width: 10rem;
    height: 4rem;
    font-size: 1.7rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    outline: none;
   border: 1px solid;
   border-radius: 5px;
   &::placeholder{
     font-size: 1.5rem;
   }
  }

  &>div {
    background-color: $darkGrey;
    width: 3rem;
    height: 0.3rem;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dropFilters {
  margin: 4rem 0;
  max-width: 30rem;

  &Check {
    @include totalCenter();
    justify-content: flex-start;
    font-size: 1.5rem;
    margin: 1rem 0;

    &>input {
      margin-right: 3rem;
    }
    &>label{
      font-size: 1.5rem;
    }
  }
}

.filterBar {
  width: 100%;
  height: 5rem;
  background-color: $lightGrey;
  @include horizontalCenterSpaceBetween();
  padding: 0 2rem;

  &Icons {
    font-size: 2.5rem;

    &>* {
      margin: 0 1rem;
      color: $darkGrey;
      cursor: pointer;
    }
  }

  &DropDown {
      padding: 1rem;
      border: none;
      outline: none;
      font-weight: 500;
      color: $darkGrey;
  }

  &PageSelector {
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;

    &>span {
      margin-right: 1rem;
    }
  }
}

.productsWrapper{
  margin: 1rem 0;
  width: 100%;
  min-height: 60vh;
}

.mobileFilters{
  display: none;
}

.desktopFilters{
  display: block;
}

@media only screen and (max-width: 650px) {
  .productPage{
    display: block;
    padding: 1rem;
  }

  .desktopFilters{
    display: none;
  }

  .mobileFilters{
    display: block;
    margin-bottom: 5rem;
  }

  .filterBar{
    height: 10rem;
  }

  .head{
    // display: none;
  }
}