html {
    font-size: 64%;
}

//imports
@import "./globals/index.scss";


*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



ul{
    list-style: none;
}

.center{
    max-width: 1500px;
    width: 97%;
    margin: 0 auto;
}

a{
    color: inherit;
    text-decoration: none;
}

