$primaryColor : #25ACD8;
$primaryLight : #25abd86e;
$secondaryColor : #1A1B1B;
$lightBackground : #ececec;



$white : #fff;
$lightGrey : #F8F8F8;
$lightMediumGrey : #d1d1d1;
$mediumGrey : #AAA8A8;
$darkGrey : #707070;

$badgeRed : #FC010D;