@mixin totalCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin horizontalCenterSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin columnCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin columnStart {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}