//imports
@import "../../index.scss";


.wrapper{
    // border: 1px solid;
    width: 95%;

    &>h2{  
        color: $primaryColor;
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
    }   

    &>span{
        position: fixed;
        right: 2rem;
        bottom: 2rem;
    }
}

.addBtn{
    background-color: $primaryColor !important;
    color: $white !important;
    
    &:hover{
        color: $primaryColor !important ;
        background-color: $white !important;
    }
   
}

.createCategory{
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryList{
    font-size: 2rem;
    & thead th{
        font-size: 2rem;
    }
}

.categoryAction{
    cursor: pointer;
}


