//imports
@import "../../index.scss";

.wrapper {
  width: 100%;
  position: relative;
  & > h2 {
    color: $primaryColor;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.banners {
  width: 90%;
  margin: 0 auto;
  & > h3 {
    font-weight: 800;
    font-size: 2.4rem;
  }
}

.newBanner {
  background-color: #fff;
  width: 80vw;
  height: 70vh;
  display: flex;
  flex-direction: column;

  &Body {
    flex: 9.3;
    @include totalCenter;
    &Banner {
      width: 100%;
      height: 46rem;
      position: relative;

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      &Content {
        position: absolute;
        top: 0;
        left: 3rem;
        display: flex;
        height: 100%;
        & > div {
          width: 100%;
          @include columnStart();
        }
        & > div:last-child {
          height: 90%;
          align-items: flex-end;
          height: 100%;
          & > label {
            height: 100%;

            & img {
              height: 100%;
              max-width: 100%;
              object-fit: contain;
              cursor: pointer;
            }
          }
        }

        & h1 {
          & > input {
            font-weight: 800;
            text-transform: uppercase;
            font-size: 2rem;
            margin-bottom: 2rem;
            background-color: transparent;
          }
        }

        & h4 {
          & > textarea {
            font-size: 4rem;
            font-weight: 400;
            color: rgb(63, 63, 63);
            // max-width: 70%;
            margin-bottom: 2rem;
            text-align: left;
            background-color: transparent;
          }
        }
      }
    }
  }
  &Footer {
    flex: 0.7;
    @include totalCenter();
    & > * {
      margin: 1rem;
    }
  }
}


.inputButton{
  border: 1px solid ;
  padding: 1rem;
  width: max-content;
  cursor: pointer;
  margin: 1rem;
}