//imports
@import "../../index.scss";

.heading{
    color: $primaryColor;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
}


