//globals
@import "../globals";


.wrapper{
    @include horizontalCenterSpaceBetween();
    margin-bottom: 5rem;
}

.card{
    width: 49%;
    height: 35rem;
    background-color: $lightGrey;
    cursor: pointer;
    @include totalCenter();

    &>div{
        height: 100%;
        width: 100%;
    @include totalCenter();
        padding: 0 2rem;
        & img{
            max-width: 100%;
        }
    }


    &Texts{  
        flex-direction: column;
        align-items: flex-start !important;      
        & h3{
            font-size: 3rem;
            font-weight: 400;
            margin-bottom: 5rem;
            & > span{
                font-weight: 700;
            }
        }

        & div{
            font-size: 2.5rem;
            font-weight: 600;
            text-transform: uppercase;
            display: flex;
            & span{
                background-color: $primaryColor;
                @include totalCenter();
                color: $white;
                width: 3rem;
                height: 3rem;
                border-radius: 100%;
                padding: 1rem;
                margin-left: 2rem;
            }
        }
    }
}

